[Unit]
Description=Brian's Homelab Agent
After=network.target

[Service]
User=homelab-agent
Group=homelab-agent
WorkingDirectory=/home/homelab-agent/live/
ExecStart=/home/homelab-agent/live/venv/bin/gunicorn -w 4 -b 0.0.0.0:1337 main:app

[Install]
WantedBy=multi-user.target
